main {
    width: 84%;
    display: flex;
    margin-left: 16%;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 20px;

    & h1.title {
        font-size: calc(2rem, 2vw, 2.5rem);
        margin-top: 30px;
    }

    & section#features {
        display: flex;
        height: 80px;
        min-width: 90%;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        & button {
            border: none;
            height: 40px;
            padding: 0 10px;
            border-radius: 10px;
            background-color: forestgreen;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
        }

        & article.search {
            display: flex;
            justify-content: end;
            gap: 5px;
            width: 100%;

            & input {
                height: 40px;
                padding: 0 15px;
                width: 70%;
            }
    
            & input:focus {
                border: none;
            }

            & .search-button {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        
    }

    & section#table {
        display: flex;
        min-width: 80%;

        & table {
            width: 100%;
           & thead {
                font-size: clamp(1.3rem, 2vw, 1.6rem);
                 & tr {
                    text-align: center;

                    & th {
                        padding: 10px;
                    }
                }
            }

            & tbody {
                font-size: clamp(1.05rem, 2vw, 1.4rem);
                & tr {
                    text-align: center;

                    & td {
                        padding: 10px 10px;
                    }
                }

                & tr:hover {
                    cursor: pointer;
                    background-color: #ccc;
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    main {
        width: 91%;
        margin-left: 9%;

        & section#features {  
            max-width: 80%;
            margin-bottom: 50px;
    
            & button {
                height: 50px;
                padding: 0 50px;
                font-size: 1.3rem;
            }
    
            & article.search {

                & input {
                    height: 50px;
                    width: 60%;
                }

                & .search-button {
                    height: 50px;

                    & img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767.98px) {
    main {

        & section#table {

            & table {
        
                & thead {
        
                    & tr {

                        & th:nth-child(3), th:nth-child(4) {
                            display: none;
                        }
                    }
                }
        
                & tbody {
        
                    & tr {
                        
                        & td:nth-child(3), td:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}