.appbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbb;

    & .logo {
        margin-left: 5%;
    }

    & .logout {
        margin-right: 8%;
        cursor: pointer;
    }

    & .logout:hover {
        opacity: 70%;
    }
}