.dropdown-container {

    & select{
        height: 40px;
        padding: 0 15px;
        font-size: clamp(1.05rem, 1.5vw, 1.2rem);
        & option {
            font-size: clamp(1.05rem, 1.5vw, 1.2rem);
            color: black;
        }
    }

    & select:nth-child(2) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 767.98px) {
    .dropdown-container {

        & select{
            height: 50px;
            padding: 10px 15px;
        }
    }
}